/* color palette: https://kuler.adobe.com/Zoo-Color-Palette-color-theme-2851379/ */

body {
  background-color: #B2DCE0;
  background: url("../World_Africa_Storm_over_the_Savannah___Masai_Mara_Reserve___Kenya___Africa_008888_.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


h1 {
  padding: 0;
  font-size: 28px;
  color: #021A31;
  font-weight: lighter;
}

h4 {
  margin: 10px 0;
}
h5 {
  margin: 0;
  font-size: 16px;
}

div {
  border-radius: 4px;  
}

input {
  opacity: 0.7;
  border: 0;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px;
  margin: 4px auto;
}

input[type="submit"]:hover {
  background: #8280BC;
}

input[type="radio"] {
  text-align: left;
  margin: 10px;
}

label {
  display: none;
}

a {
  text-decoration: none;
  color: #021A31;
}

a:hover {
  text-decoration: underline;
  color: #57549A;
}

.container {
  margin: 70px auto;
  width: 800px;
}

th {
  text-align: left;
}





/* ========= NAV ========================*/

.nav_container {
  z-index: 1;
  height: 50px;
  background-color: #021A31;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.8;
}
nav {
  width: 800px;
  margin: 0 auto;
}

nav h1 {
  margin: 10px 0;
  padding: 0;
  float: left;
  color: #B7CDE2;
  font-size: 28px;
}

nav ul {
  float: right;
  list-style: none;
}

nav ul li {
  display: inline-block;
  color: #B7CDE2;
  margin: 0 20px;
}

nav ul li a {
  color: #B7CDE2;

}


/* ============  LOGIN/ SIGNUP ==========================*/


.signin_container {
  margin: 0 auto;
  text-align: center;
}

#signin_area {
  display: normal;
}

#signup_area {
  display: none;
}

/*#signin_toggle:hover {
  text-decoration: underline;
}*/

#signup_toggle:hover {
  text-decoration: underline;
}

#or {
  margin: 50px auto;
}


/* ==================== SURVEYS ====================== */

.surveys_container {
  background: #FFF;
  opacity: 0.65;
  border-radius: 5px;
  padding: 20px;
}

.surveys_container h1 {
  float: left;
  margin: 22px 0;
}

.survey_list_container {
  clear: both;
}

#survey_submit_button {
  display: none;
}

#survey_next_button {
  display: normal;
}

#incomplete_question_alert {
  background: #CC001E;
  opacity: 0.65;
  padding: 10px;
  margin: 10px auto;
}


/*  ===================CREATE SURVEY BUTTON =================== */

.create_button {
  width: 175px;
  height: 18px;
  background: #999;
  float: right;
  margin: 8px 0;
  text-align: center;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
}
a .create_button {
  color: #021A31;

}
a .create_button:hover {
  background: #8280BC;
}


/* =================== CREATING SURVEYS ========== */

.new_survey_container {
  margin: 0 25%;
}

#new_survey {
  margin: 0 auto;
}

#new_survey h3 {
  color: #fff;
}

#new_survey input {
  width: 95%;
}

#submit_survey input {
  width: 100%;
}

.new_question {
  margin: 40px auto 0 auto;
}

.add {
  background: #bbb;
  opacity: 0.7;
  width: 33%;  
  margin: 18px 0;
  text-align: center;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  color: #021A31;
}
.add:hover {
  background: #8280BC;

}

#add_option {
  float: left;
}

#add_question {
  float: right;
}

.new_question input:first-child {
  background: #D5CDFF;
}



/* ===================== TABLES ========================== */


table {
  width: 100%;
}

thead {
  font-size: 18px;
  font-weight: ligher;
  border-bottom: 1px solid #ddd;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px 5px;
}

/*====================== RESULTS TABLE =====================*/

.results_container {
  background: #FFF;
  opacity: 0.65;
  border-radius: 5px;
  padding: 20px;
}


/*  ================= FOOTER ================ */

footer {
  clear: both;
  margin: 20px auto;
  height: 20px;
  position: fixed;
  bottom: 0;
}
/****chart**************/

#legend {
  background-color: white;
  opacity: 0.8;
}

#ph{
  width:800px;
  height:300px;
  background-color: white;
  opacity: 0.8;
}




