/* color palette: https://kuler.adobe.com/Zoo-Color-Palette-color-theme-2851379/ */

body {
  background-color: #F2E0B1;
}

.container {
  margin: 70px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;

}
th {
  text-align: left;
}

.nav_container {
  height: 50px;
  background-color: #5B402F;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

nav {
  width: 800px;
  margin: 0 auto;
}

nav h1 {
  margin: 10px 0;
  padding: 0;
  float: left;
  color: #F07315;
  font-size: 28px;
}

nav ul {
  float: right;
  list-style: none;
}

nav ul li {
  display: inline-block;
  color: #7AC0A8;
  margin: 0 20px;
}

nav ul li a {
  color: #7AC0A8;

}
