

    <label for="question">Question:</label> 
      <input id="question" type="text" name="question" placeholder="Question?"><br>
    <label for="question">Option 1:</label> 
      <input id="question" type="text" name="options[1]" placeholder="Option 1"><br>
    <label for="question">Option 2:</label> 
      <input id="question" type="text" name="options[2]" placeholder="Option 2"><br>
