<div>
  <h1>Create a new survey!</h1>
  <form action="/submit" method="POST">
    <label for="survey_name">Name: 
      <input id="survey_name" type="text" name="survey[name]"></label>
    <label for="question">Question: 
      <input id="question" type="text" name="survey[question]"></label>
    <label for="question">Option 1: 
      <input id="question" type="text" name="survey[options[1]]"></label>
    <label for="question">Option 2: 
      <input id="question" type="text" name="survey[options[2]]"></label>
    <input type="submit" value="Submit Survey">
  </form>

</div>
