<div class="signin_container">
  <h1>Create a new survey!</h1>
  <form action="/create_survey" method="POST">
    <label for="survey_name">Name:</label>
      <input id="survey_name" type="text" name="name" placeholder="Survey Name"><br><br>
      <%= erb :_question %>
    <input type="submit" value="Add Question">
  </form>

</div>
