<div class="signin_container">
  <h1>Create a new survey!</h1>
  <h3 id="new_survey_name"></h3>

  <form action="/create_survey" method="POST">
    <label for="survey_name">Name:</label>
      <input id="survey_name" type="text" name="name" placeholder="Survey Name"><br><br>
      <div id="new_question">
      <%= erb :_question %>
      </div>
    <input type="submit" value="Add Question">
  </form>

</div>
