<div>
  <h1>Welcome Polling Primate</h1>
  
  <div>
    <a href="/create_survey">
      <div>
      </div>
    </a>
  </div>
  
  <div>
    <h3>Polls to take...</h3>
    <ul>
      <li>Survey 1</li>
      <li>Survey 2</li>
      <li>Survey 3</li>
      <li>Survey 4</li>
    </ul>
  </div>


</div>
