<div>
  <h3><%= @survey.name %></h3>

  <% @survey.questions.each do |question| %>
  <form>
    <h4><%= question.text %></h4>
    <div>
      <% question.options.each do |option| %>
        <span><input type="radio" name="<%= option.id %>" ><%= option.text %></span>
      <% end %>
    </div>

    <% end %>
  <span><input type="submit"></span>
  </form>


</div>
