<div>
  <h3>Survey Name</h3>
  <h4>Question: </h4>

  <div>
    <form>
      <span><input type="radio" name="question1"  value="option1">Option 1</span>
      <span><input type="radio" name="question1"  value="option2">Option 2</span>
      <span><input type="submit"></span>
    </form>
  </div>


</div>
